@charset "UTF-8";

/* 回答はここに書いてね */

.back {
  padding: 20px;

}

.gray {
  width: 100%;
  display: table;
  text-align: center;
  box-sizing: border-box;
}

.gray:last-child {
  padding-top: 20px;
}

.color {
  padding: 20px 0;
  display: table-cell;
}

.peach {
  width: 100px;
  background-color: #fdc8b8;
  /* padding: 20px 0;
  display: table-cell; */
  
}

.purple {
  background-color: #e0abd9;
  /* padding: 20px 0;
  display: table-cell; */
}

.sky {
  width: 100px;
  background-color: #b6d8ed;
  /* padding: 20px 0;
  display: table-cell; */

}

.lemon {
  background-color: #e5d32e;
  /* padding: 20px 0;
  display: table-cell; */

}

.red {
  background-color: #ec8f9a;
  /* padding: 20px 0;
  display: table-cell; */

}

.green {
  width: 500px;
  background-color: #8fdcac;
  /* padding: 20px 0;
  display: table-cell; */
}
/* 回答はここに書いてね */
