@charset "UTF-8";

/* 回答はここに書いてね */

.text_align_content {
  width: 90px;
  background-color: #e6f2ff;
  padding: 10px 0;
  display: inline-block;  
  /* text-align: center; */
  /* margin: auto; */
} 
.text-align {
  text-align: center;
}




.margin {
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
  margin: 0 auto;
  text-align: center;
}

.gray {
  display: table;
}

.table {
  display: table-cell;
  vertical-align: middle;
  /* position: relative; */
  text-align: center;
  background-color: #ecf1f2;
}
.p_table {
  text-align: center;
  padding: 10px;
  display: inline-block;
  background-color: #fff;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%); */
}


.gray2 {
  display: flex;
}

.flex {
  margin: auto;
  background-color: #fff;
  padding: 10px;
  justify-content: center;
  align-items: center;
}



.kotei {
  position: relative;
}

.koteiposi {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


.kahen {
  position: relative;
}

.kahenposi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%)translateY(-50%);
}
/* 回答はここに書いてね */
