@charset "UTF-8";

/* 回答はここに書いてね */


.common {
  background-color: #00bcd4;
  color: #fff;
}

.error {
  background-color: #ff4081;
  color: #fff;
}

.disabled {
  background-color: #e5e5e5;
  color: #fff;
}

.shadow {
  background-color: #fff;
  color: #222;
  box-shadow: 0 1px 6px rgba(0, 0, 0,.12),0 1px 4px rgba(0, 0, 0,.12);
}




.small {
  border-radius: 3px;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 5px;
  display: inline-block;
  line-height: 26px;
}

.middle {
  border-radius: 5px;
  font-size: 20px;
  padding: 0 20px;
  margin: 0 5px;
  display: inline-block;
  line-height: 32px;
}

.large {
  border-radius: 7px;
  font-size: 24px;
  padding: 0 25px;
  margin: 0 5px;
  display: inline-block;
  line-height: 38px;
}









.q8_form {
  background-color: #ecf1f2;
  width: 700px;
  /* height: 331px; */
  padding: 20px;
  margin: 0 auto;
}

.q8_title:before {
  width: 100%;
  height: 1px;
  content: "";
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
}

.q8_title {
  position: relative;
  margin-bottom: 20px;
}

.q8_title_text {
  position: relative;
  display: inline-block;
  background-color: #ecf1f2;
  font-size: 24px;
  font-weight: bold;
  padding-right: 10px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}







.q8_main {
  float: left;
  width: 300px;
}

.q8_main_item {
  margin-bottom: 0;
}

/* .q8_main_item:last-child {
  margin-bottom: 0;
} */

.init {
  -webkit-appearance: none;
  outline: none;
}

.init:focus {
  box-shadow: 0 0 7px #00bcd4;
	border: 0 solid #00bcd4;
}


.q8_main_item > li {
  margin-top: 20px;
}

.q8_main_item > li:first-child {
  margin-top: 0;
}

.list {
  float: left;
  line-height: 25px;
  text-align: right;
  width: 100px;
}

.name2 {
  color: #f00;
}

.name3 {
  float: right;
  width: 180px;
}

.name4 {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  border: none;
}

.select {
  position: relative;
}

.select_body {
  cursor: pointer;
}

.select:after {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  content: '';
  pointer-events: none;
}

.q8_radio {
  cursor: pointer;
}

.q8_checkbox {
  text-align: right;
}

.checkbox_btn {
  display: none;
}

.checkbox {
  padding-left: 24px;
  position: relative; 
  display: inline-block;
}

.checkbox::before {
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}

.checkbox_btn:checked + .checkbox:after {
  position: absolute;
  top: -6px;
  left: 6px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
  content: '';
  transform: rotate(45deg);
}



.radiobox {
  padding: 3px 3px 3px 20px;
  position: relative;
  display: inline-block;
}

.radiobox:before {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 14px;
  height: 14px;
  content: '';
}

.radio_btn {
  display: none;
}

.radio_btn:checked + .radiobox:after {
  position: absolute;
  top: 7px;
  left: 4px;
  border-radius: 50%;
  background-color: #00bcd4;
  /* border: 1px solid #ccc; */
  width: 8px;
  height: 8px;
  content: '';
}



.comment {
  float: right;
  width: 380px;
  height: 203px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  border-radius: 3px;
  background-color: #fff;
  font-size: 12px;
  /* outline: none; */
  border: none;
}

.send {
  text-align: right;
  font-size: 16px;
  padding-left: 24px;
  position: relative;
}

.send::before {
  width: 16px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
}

.send_btn:active {
  background-color: #fff;
  color: #00bcd4;
  box-shadow: none;
}

.send_btn {
  font-size: 16px;
  color: #fff;
  background-color: #00bcd4;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  line-height: 26px;
  cursor: pointer;
}




/* 回答はここに書いてね */
